*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration-line: none;
}
.f
{
   display: flex;
   flex-direction: row;
}
  
.hhead
{
    width: 300px;
    height: 50px;
    background-color:#8C030E;
    flex-grow: 1;
    

}    

.hhead .h
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 4px;
    color: #0D0D0D;
}
.b2
{
    width: 100px;
    height: 50px;
    background-color:#0D0D0D;
    color:#EBEDF2 ;
      
}
.abo
{
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    text-align: justify;
    align-items: center;
}
.fa{

    text-decoration: none;
    text-align: center;
    padding: 5px;
}
.fa:hover
{
    opacity: 0.5;
}
.fa-facebook 
{
    background: #3B5998;
    color: white;
}
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
   
li
{
   
   margin:10px 0px;
   align-items: center;
   text-align: justify;
   padding: 5px 0px;

}

.para
{  
    font-family: 'Orbitron', sans-serif;
    display: flex;
    position: relative;
    height:100vh;
    background:url(./red.jpg) red;
    background-size: cover;
    align-items:flex-start;
    justify-content:center;
}
.para p
{
    font-size: 20px;
    margin:0px 30px;
    color: cornsilk;
    text-align: center;
}
span{
    color: red;
}
.footer
{
   
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color:#200000 ;
    width: 100%;
    height: 30px;
    text-align: center;
    color:#ffffff ;
    justify-content: space-between;
    text-align: justify;
    font-weight: bold;
  
}
.footer #cr #fb #sp
{
 
    color: blue;
 
}
